body { background-color:#A34100;
	   height:100%;
	   background-image:url('images/inback.png');
	   background-repeat:repeat-y;
       background-position:center center;
	   /*font-family: Verdana, Geneva, sans-serif;	*/
       font-family: 'PT Sans', sans-serif;	   
	 }
	 
.wrapper
    { text-align:left;
	  width:100%;
	  position:relative;
	}
	
	p, h1, h2 {margin-top: 0px; margin-bottom: 0px;}	
	
	
#container
	{ 
	  margin:0 auto;
	  width:1300px;
	  background-image:url('images/inback.png');
	  background-repeat:repeat-y;
      background-position:center center; 
	   
	}
	
#banner
	{  
	  margin:0 auto;
	  /*background-color:white;
	  background-position:left left; */
	  width: 900px;
	  height: 200px;
	  padding-left:10px;
	  background-image:url('images/banner.png');
      background-position:center center; 
	  }
	  
	  
#main
{
	margin:0 auto;
	width:910px;
	background-color:rgba(0, 0, 0, 0.12);
	position: relative;
	overflow: hidden;
}
	  
#content
	{ 
	  width: 550px;
	  text-align:left;
	  min-height:750px;
	  line-height: 25px;
	  background-color:white;
      padding-left:10px;
	  padding-right:5px;
	}	 

	

	
#sidebar
	{
		width:335px;
		float:right;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 5px;
		padding: 5px;
		/*background-color: #2C5885;*/
	}	
	
#footer
 	{
	  margin:0 auto;
	  width: 900px;
	  height: 20px;
	  font-size: 11px;
	  padding-right:10px;
	  text-align: right;
	}
	
#menu ul
	{
	  list-style-type:none;
      margin:0;
	  padding:0;
      padding-top:112px;
	  
	} 
	
#menu b
		{ 
	  
	  background-color:rgba(0, 0, 0, 0.12);
	  display:block;
	  width:15px; 
      height:55px;
	}

	
#menu a
	{ 
	  
	  width: 80px;
	  text-decoration:none;
	  color:black;
	  display:block;
	  line-height: 55px;  
	  text-align:center;
	  background-color:rgba(0, 0, 0, 0.12);
	  
	}
	
	
#menu h2
{
	  
	  
	  font-size: 13pt;
}
	
#menu a.GT
	{
	   width:120px;
      
	}	

#menu a.lnk
	{
	   width:40px;
	   display:block;
	   font-size: 20pt;
	   height: 40px; 
       padding-top: 38%;
	}	

#menu i
{
	
}	
	

	
#menu a#active
	{
	   color:rgba(255, 255, 255, 0.8);
      
	}
	
#menu a:hover
	{
	  color:rgba(255, 255, 255, 0.7);
	}
	

#menu li
	{	
	  float:left
	}	
	
	
	
	
/*social buttons code START*/
/* ------------------------------------------------------------------------------------------------------------*/
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*Social button code END*/
/* -------------------------------------------------------------------------------------------------------