body { background-color:#ff9900;
	   height:100%;
	   background-image:url('images/background.png');
	   background-repeat:repeat-y;
       background-position:center center;
	 }
	 
.wrapper
    { text-align:left;
	  width:100%;
	  position:relative;
	}
	
#container
	{ 
	  margin:0 auto;
	  width:1000px;
	  box-shadow: 0 0 20px 0 black, 0 0 20px 0 black;
	}
	
#content
	{ 
	  margin:0 auto;
	  width:1000px;
	  background-color:white;
      background-position:left left;
	  background-repeat:repeat-y;
	  text-align:left;
	  min-height:1100px;
	  z-index: 1;
	  line-height: 25px;

	}
	
#sidebar
	{
	width:300px;
	float:right;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.9);
	line-height:15px;
	}	
	
#banner
	{  
	  background-color:white;
	  background-image:url('images/paper_banner.png');
	  background-position:left left;
	  width: 1000px;
	  height: 200px;
	  }
#menu
 	{ 
	  font-family: "Trebuchet MS", sans-serif;
	  background-color:white;
      background-position:left left;
	  width: 1000px;
	  height: 50px;
	  line-height: 5px;	
	  }
	
#menu ul
	{
	  list-style-type:none;
      margin:0;
      padding:0;
	} 
	
#menu b
	{
	  background-color: rgba(0, 0, 0, 0.9);
	  display:block;
	  width:28px; 
      height:40px;	
 
	}	
	
#menu a
	{ 
	
	  background-color: rgba(0, 0, 0, 0.9);
	  text-decoration:none;
	  color:White;
	  display:block;
	  width:84px; 
      height:40px;
      z-index: 2;	
	  line-height: 40px;  
	  text-align:center;
	  background-repeat: no-repeat;
	  
	}
	
#menu a.OHP
	{
	   width:246px;
      
	}
	
#menu a.fie
	{
	   width:110px;
      
	}
	
#menu a#active
	{
	   color:#FF9900;
      
	}
	
#menu a:hover
	{
	  color:#FF9900;
	  font-size: 14pt;
	}
	

#menu li
	{	
	  float:left
	}

#footer
 	{
	  font-family: "Trebuchet MS", sans-serif;
	  box-shadow: 0 0 20px 0 black, 0 0 20px 0 black;
	  background-color:white;
	  width: 1000px;
	  height: 120px;
	  float:left;
	  
	}
	
#footer p
	{ 
	  font-family: "Trebuchet MS", sans-serif;
	  text-align:center;
	  font-size:12px;
	  line-height:10px;
	  color: #000000;
	}
	
#footer b
	{
	  background-color: rgba(0, 0, 0, 0.9);
	  display:block;
	  width:28px; 
      height:40px;	
 
	}	
	
#footer a
	{ 
	
	  background-color: rgba(0, 0, 0, 0.9);
	  text-decoration:none;
	  color:White;
	  display:block;
	  width:84px; 
      height:40px;
      z-index: 2;	
	  line-height: 40px;  
	  text-align:center;
	  background-repeat: no-repeat;
	  
	}
	
#footer a.OHP
	{
	   width:246px;
      
	}
	
#footer a.fie
	{
	   width:110px;
      
	}
	
#footer a#active
	{
	   color:#FF9900;
      
	}
	
#footer a:hover	
	{
	  color:#FF9900;
	  font-size: 14pt;
	}
	
#footer ul
	{ margin-top: 0px;
	  margin-right: 0px;
	  margin-bottom: 0px;
	  margin-left: 0px;
	  list-style-type:none;
      padding:0;
	}
	
	
#footer li
	{
	  float:left
	}
	
#content h1
	{
	font-family: "Trebuchet MS", sans-serif;
	color: #000000;
	position: relitive;
	font-size: 20pt;
	width: 640px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	}		
	
#content p
	{
	
	font-family: "Trebuchet MS", sans-serif;
	color: #000000;
	position: relitive;
	font-size: 12pt;
	width: 640px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	}
	
#content p3
	{
	
	font-family: "Trebuchet MS", sans-serif;
	color: #000000;
	position: relitive;
	font-size: 12pt;
	width: 640px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	text-decoration:underline;
	}
	
#content h2
	{
	font-style:normal;
	font-family: "Trebuchet MS", sans-serif;
	color: #FF9900;
	position: relitive;
	font-size: 10pt;
	width: 640px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	}
	
	
#content a
	{
	font-family: "Trebuchet MS", sans-serif;
	color: #FF9900;
	position: relitive;
	font-size: 12pt;
	width: 640px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	}
	
#content a.subhead
	{
	text-decoration:none;
	font-weight: bold;
	font-family: "Trebuchet MS", sans-serif;
	color: #000000;
	position: relitive;
	font-size: 20pt;
	width: 640px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	}
	
#content a.subheadsmall
	{
	text-decoration:none;
	font-weight: bold;
	font-family: "Trebuchet MS", sans-serif;
	color: #000000;
	position: relitive;
	font-size: 16pt;
	width: 640px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	}
	
#content a:hover
	{
	color: #FF9900;
	}

	
#accordion
	{  
	width: 630px;   
	list-style: none; 
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	padding: 0 0 ;
}  
  
#accordion h2
{  
font-size: 12pt;  
margin: 0px;     
}
  
#accordion li div.acc{  
display: none;  
}  
  
#accordion li:hover div.acc{  
display: inherit;  
}  


/*social buttons code START*/
/* ------------------------------------------------------------------------------------------------------------*/
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

#menu-wrap {
	width:262px;
	height:1px;
	float: right;
/*	border-bottom:#09F thin solid;
	border-bottom-width:3px;*/
	padding:125px 0px 0px 0px;
	margin:0px 0px 50px 0px;
	text-align:left;
	line-height:13px;
}

 #menu-wrap .menu-item {
    width: 38px;
    height: 55px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

 #menu-wrap .menu-item i {
    width:100%;
	padding:7px 0px 5px 0px;
	border-radius:3px;
}

 #menu-wrap .menu-item i.fa-facebook {
	background:#3B5998;
	color:#FFF;
}
 #menu-wrap .menu-item i.fa-twitter {
	background:#44CCF6;
	color:#FFF;
}
 #menu-wrap .menu-item i.fa-youtube {
	background:#CE332D;
	color:#FFF;
}
 #menu-wrap .menu-item i.fa-google-plus {
	background:#D13F2D;
	color:#FFF;
}

 #menu-wrap .menu-item i.fa-soundcloud {
	background:#FF9900;
	color:#FFF;
}
	
 #menu-wrap .menu-item span {
	width:32px;
	height:32px;
    position: absolute;
    top: 10px;
    left: 0px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: block;
	color:rgba(0, 0, 0, 0.9);
/*	border:#09F thin solid;
	border-width:2px;*/
	border-radius:50%;
}

 #menu-wrap .menu-item span:hover {
    top: -29px;
	font-size:20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

span.active {
	top:-20px !important;
	font-size:0px !important;
}

 #menu-wrap .menu-item a {
	font-size:12px;
	color:#445878;
	text-decoration:none;
}

 #menu-wrap .menu-item .text {
	text-decoration: none;
    font-size: 0px;
    padding:0px 0px 17px 0px;
    text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
    width: 100%;
    position: absolute;
    bottom: -27px;
    display: block;
/*	border-top:#CCC thin solid;
	border-top-width:1px;*/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

 #menu-wrap .menu-item:hover > .text {
    bottom: 0;
	font-size:25px;
	padding:0;
    -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
	text-align:center;
}

 #menu-wrap .menu-item .icon {
    width: 32px;
    height: 32px;
	padding:13px 9px 5px 4px;
	font-size:25px;
	text-align:center;
}
/*Social button code END*/
/* ------------------------------------------------------------------------------------------------------------*/