#abfbe{
	width:90%; margin:0 auto;
}

#abfbe-table
{
	text-align:left;
}

#abfbe-table td, #abfbe-table th
{
	padding:10px;
	font-size: 120%;
	line-height: 150%;
}

#abfbe-table th
{
	font-weight:bold;
}


#abfbe-table tr td
{
	border-top: 1px solid rgba(0, 0, 0, 0.3);
}

#abfbe-table tr:last-child td
{
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}


.fbeDate
{
	text-align:center;
	padding:5px;
	width:6%;
}

.fbeDate div
{
	padding:5px;
	background: rgba(200, 200, 200, 0.4);
}

.fbeLink
{
	text-align:center;
	width:5%;
}

.fbeLink span
{
	color: #333;
}


#abfbe-table tr:hover .fbeLink span
{
	border-bottom: 1px solid;
}

#abfbe-table tbody tr:hover
{
	background: rgba(0, 0, 0, 0.1);
}


.NoEvents
{
	
	font-size:200%;
	padding: 5% 1% 10% 1%;
	line-height: 100%;
}


@media screen and (max-width :320px){

.NoEvents{
	font-size:8vw;
}

}
