/*-- ABTC Twitter Code start--*/

#abtc 
/*-- Main Container adjust overall width and background colour here --*/
{
	width:85%;
	/*font: normal normal 16px/1.4 Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;*/
	margin: 0 auto 0 auto;
	text-align:left;
}

#abtc a
/*-- style for all links --*/
{	
	outline: 0;	
	text-decoration:none;
	
			-moz-transition: all 0.2s;
	  -o-transition: all 0.2s;
 -webkit-transition: all 0.2s;
		 transition: all 0.2s;
}

#abtc .realname {
	-moz-transition: all 0.2s;
	  -o-transition: all 0.2s;
 -webkit-transition: all 0.2s;
		 transition: all 0.2s;
}

.maintweet
/*-- style for each tweet --*/
{
	word-wrap: break-word;
	padding: 10px 5px;
	overflow:auto;
	margin: 0 5px 5px 5px;
	
	-moz-transition: all 0.2s;
	  -o-transition: all 0.2s;
 -webkit-transition: all 0.2s;
		 transition: all 0.2s;		
}

.maintweet:hover
/*-- hover style for each tweet --*/
{
	background-color:#f9f9f9;	
	background-color:rgba(255,255,255,0.4);
}

.topBar
/*-- top section with image and user name --*/
{
	padding:0;
	margin:0;
	vertical-align:middle;
	overflow:auto;
}

#pimgcont
/*-- profile image container --*/
{
	height: 55px;
	line-height: 55px;
	width: 50px;
	display:block;
	float:left;
}

/*-- profile image --*/
.topBar img
{
	margin:0;
	border-radius:5px;
	vertical-align:middle;
}

/*-- User name and real name --*/
.topBar p
{
	padding:0 0 0 5px;
	margin:0;
	font-size: 120%;
	line-height: 25px;
	font-weight: 600;
}

.topBar p.ursname
{
  
	margin: 0 0 0 55px;
	line-height: 20px;
	padding: 0 0 10px 0;
    font-size: 80%;
	color:#777;
	font-weight: normal;
}

.topBar p.realname
{
	margin: 6px 0 0 50px;
}

.topBar a
{
	color:#000;
}

/*-- top retweet icon --*/
.topBar .rttext
{
	font-size: 80%;
	line-height: 20px;
	padding: 0 0 0 5px;
	display:inline-block;
	color: #777;
	font-weight: normal;
}

.topBar .rttext a
{
	color:#777;
}

.topBar .rtlogo
{
	font-size: 90%;
	font-weight: normal;
	color: #fff;
	border-radius: 5px;
	padding: 1px 2px 2px 2px;
}

/*-- media container --*/
.mediacont
{
	background-color:rgba(252, 252, 252, 0.5);
	padding:1%;
	border: 1px solid #eee;
	border-radius:4px;
	width:98%;
	float:none;
	
}

/*-- media image --*/
.mediacont img
{
    display:block;
	width: auto;
	height: auto;
	max-width: 100%;
	margin:0 auto;
}

/*-- main twitter text --*/
.tweets_txt p
{
	margin:0;
	padding:2px 0 10px 5px;
	line-height: 22px;
}

/*-- Share RT Like Box -- */
#abtc .action-box ul, #abtc .action-box li
{
	border:none;
	margin: 0;
	padding: 0;

}

#abtc .action-box li
{
	float:left;
	padding:0;
	overflow:auto;
	display:inline;
}

.action-box li a
{
	height:40px;
	min-width:30px;
	line-height:30px;
	margin: 0;
	padding: 0px 10px 0px 0px;
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	color: rgba(0, 0, 0, 0.5);
}

.action-box li:first-child a 
{
	padding: 0px 7px 0px 2px;
}

.ab_retweet a i
{
	font-size:120%;
}

.ab_retweet a:hover 
{
	color: #1AD086;
}

.ab_favorite a:hover 
{
	color: #E43F55;
}

.twicon
{
	font-size:21px;
	float:right;
}

.twicon li:first-child a 
{
	padding: 0px;
	
}

.twicon li:first-child a:hover 
{
	color:#55acee;
	
}
 
.fa 
/*-- required for google chrome --*/
{
  transform: none !important;
} 
 
/*-- column code starts here --*/ 
 
.maintweet{

-webkit-column-break-inside:avoid; 
   -moz-column-break-inside:avoid; 
     -o-column-break-inside:avoid; 
    -ms-column-break-inside:avoid; 
        column-break-inside:avoid; 
}
 
 
#abtcmain 
/*-- choose no of columns for full width --*/
{

   -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px; 
  column-count:         3;
  column-gap:           0px;  

}


@media screen and (max-width :910px)
/*-- choose width and no cols for tablet --*/
{
	#abtc{
		width:90%;
	}
	
	#abtcmain {

 	  -webkit-column-count: 2;
	  -moz-column-count:    2; 
	  column-count:         2; 
	}
}

@media screen and (max-width :600px){
/*-- choose width and no cols for mobile --*/	
	#abtc{
		width:95%;
	}
	#abtcmain {

	  -webkit-column-count: 1;
	  -moz-column-count:    1; 
	  column-count:         1; 
	}
}